@use './media.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-size-adjust: 100%;
  @include sm-mobile {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(var(--text-primary));
  background-color: rgb(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;

  &:hover {
    color: rgb(var(--accent-soft));
  }

  &:focus-visible {
    outline: 2px solid rgb(var(--accent-dim));
    outline-offset: 3px;
    border-radius: 6px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
